
<div id="logo-header">
  <img id="logo-img" src="assets\logo.png" alt="">
</div>
<div id="header" style="height:15rem;" class="bg-primary">
<div class="p-5"id="header-backround" style="width:100%;height:100%;">
    <div style="direction:rtl ; font-size: 80px; margin-right:150px ; color: aliceblue;">
      <h1 style="font-size: 50px; font-weight:600 ;">COUPE DU</h1>
      <h1 style="font-size: 80px;font-weight:600">MONDE</h1>
    </div>


</div>
</div>
<!--NAVBAR-->

<nav>
  <div class="container">
    <div class="content">
      <h2 class="logo">Market</h2>
      <ul>
        <li>
          <a  routerLink="/ticket"routerLinkActive="lienActive">Ticket</a>
        </li>
        <li >
          <a routerLink="/détails" routerLinkActive="lienActive">Détails</a>
        </li>
        <li >
          <a  routerLink="/contact"routerLinkActive="lienActive">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!--IMAGE QATAR-->

<div class="d-flex justify-content-center" style="margin-top: 30px;height: 120px;">
<img src="assets\qatar-word.png" alt="" style="width: 600px;"></div>


