<section class="contact">
  <div class="content">
  <h2>Contact Us</h2>
  <p>Notre site constite à vendre les tickets des matchs du coupe de monde Qatar 2022 .</p>
  </div>
  <div class="container">
      <div class="contactInfo">
      <div class="box">
      <div class="icon"></div>
      <div class="text">
      <h3>Address</h3>
      <p>4671 Iset Charguia, <br>Tunis, <br>55060</p>
      </div>
  </div>
      <div class="box">
      <div class="icon"></div>
      <div class="text">
      <h3>Fondateurs</h3>
      <p>Sarra Maherssia</p>
      <p>Houssem Hbaieb</p>
      </div>
      </div>
      <div class="box">
      <div class="icon"></div>
      <div class="text">
      <h3>XEmail</h3>
      <p>maherssiasarah@gmail.com</p>
      </div>
  </div>
