.ti{
  margin-top: 50px;
  padding-top: 15px;
  border-top: 1px solid #811538;
display: flex;
flex-direction: column;
justify-content: space-between;

}
.st{
  display: flex;
  flex-direction: column;
}
.chercher{
  margin: 20px;
  color: gray;

}


.search-hero {
  max-width: 500px;
  padding-bottom: 50px;
  margin:auto;
}

.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
}
.form-control::placeholder  {
  font-family: FontAwesome;
}

.box {
  width: 90%;
  margin:100px auto;
  height:500px;
}
  li{
  font-size:22px;
  margin: 20px 0;

  }
  img{
  width:100%;
  max-height:500px;
  min-height:500px;
}
